.table-section {
    background-color: var(--top-section-card-background);
    border: 1px solid var(--top-section-card-border-color);
    box-shadow: var(--top-section-card-shadow);
    border-radius: 20px;
    padding: 30px 25px;
    margin-bottom: 20px;
}

.table-section>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}



.text-small {
    color: var(--sidebar-item-text-color);
}

.text-big,
.text-medium {
    color: var(--top-section-card-amount-text-color);
}


.search-bar input[type="text"] {
    all: unset;
    border-radius: 4px;
    padding: 4px;
    color: var(--sidebar-item-text-color);
    background-color: var(--backgroud-color);
}



.search-bar div {
    display: flex;
    align-items: center;
    color: #4b5563;
}


.search-bar {
    padding: 0px 5px;
    background-color: var(--backgroud-color);
    border: 1px solid var(--select-border-color);
    border-radius: 25px;
    margin-right: 10px;
}

.download-icon img {
    width: 40px;
    height: 40px;
}

.download-icon {
    padding: 2px;
    border-radius: 50%;
    border: 2px solid var(--top-section-card-background);
    cursor: pointer;
}

.download-icon:hover {
    border: 2px solid #6366f1;
}

.download-icon:active {
    background-color: #292cdd;
}

.search-bar>div>div:nth-child(1) {
    margin: 0px 5px;
}

.search-icon {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}


.expense-table {
    width: 100%;
}

.expense-table tr {
    border-bottom: 1px solid var(--top-section-card-border-color);
}


.expense-table td {
    padding: 20px 10px;
    min-width: 150px;
}

.expense-table>.table-header, .table-footer {
    background-color: var(--table-header-background-color);
}

.expense-table>.table-header td:hover {
    background-color: var(--table-header-hover-color);
}

.expense-table>.table-header td:active {
    background: var(--table-header-background-active);
    color: var(--table-header-text-color-active);
}


.action img {
    width: 25px;
    height: 25px;
}

.action>img:nth-child(1) {
    margin: 0px 4%;
}



@media screen and (max-width: 600px) {
    .search-bar {
        width: 75%;
        height: 50px;
    }

    .search-bar>.input-group {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .search-bar>.input-group>div:nth-child(2) {
        height: 100%;
        width: 75%;
    }

    .search-bar input[type="text"] {
        width: 100%;
    }
}

@media screen and (max-width: 1005px) {
    .table-section>div:nth-child(2) {
        overflow-x: scroll;
    }
}

.pagination-control {
    text-align: center;
}

.pagination-control > div {
    margin-left: 24px;
}

.arrow{
    color: blue;
}