<div class="dashboard-main">
    <!-- top section -->
     <div class="top-section">
        <div class="amount-cards">
          <div class="text-small weight-600">Sales</div>
          <div class="text-big weight-600">&#8377; 100</div>  
        </div>
        <div class="amount-cards">
            <div class="text-small weight-600">Sales</div>
            <div class="text-big weight-600">&#8377; 100</div>  
          </div>
          <div class="amount-cards">
            <div class="text-small weight-600">Sales</div>
            <div class="text-big weight-600">&#8377; 100</div>  
          </div>
          <div class="amount-cards">
            <div class="text-small weight-600">Sales</div>
            <div class="text-big weight-600">&#8377; 100</div>  
          </div>
     </div>
</div>