<div class="sidebar-container">
    <div class="sidebar">
        <div class="sidebar-header t2-blue">
            Expense Tracker
        </div>
        <div *ngFor="let sideBar of sideBarItems" class="sidebar-item pointer" [ngClass]="(sideBar.isActive)? 'sidebar-item-active' : ''">
            <div><img class="side-bar-item-icon" [src]="sideBar.icon"></div>
            <div class="text-small">{{sideBar.title}}</div>
        </div>
    </div>
    <div class="sidebar-white-space pointer" (click)="closeSideBar()"></div>
</div>