
.t2{
    color: #6b7280;
    font-size: 25px;
    text-align: center;
}

.link{
    color: blueviolet;
    cursor: pointer;
}

.link:hover{
    text-decoration: none;
}

.input-error{
    color: red;
    font-size: 12px;
    margin-left: 4px;
    position: absolute;
}

.t2-black{
    color: black;
    font-size: 17px;
    text-align: center;
}

.t2-blue {
    color: #6366f1;
    font-size: 25px;
    text-align: center;
}

.text-small {
    font-size: 17px;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.pointer {
    cursor: pointer;
}

.text-big{
    font-size: 2rem;
}