<div class="header">
    <div class="header-left-section">
        <div class="pointer" (click)="showSideBar(!sideBarVal)">
            <div class="hamburger-menu">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="text-small weight-500">
            {{pageTitle}}
        </div>
    </div>
    <div class="header-right-section">
        <div class="profile-image pointer">
            <img *ngIf="!darkTheme"  (click)="changeTheme(true)" src="../../../../../../assets/icons/night-mode.png" alt="">
            <img *ngIf="darkTheme" (click)="changeTheme(false)" src="../../../../../../assets/icons/brightness.png" alt="">
        </div>
        <div class="profile-image">
            <img src="../../../../../../assets/icons/user.png" alt="">
        </div>
    </div>
</div>