<div class="dialog-main" *ngIf="showDialog">
    <div class="dialog-box">
        <div class="weight-600">
            {{ htmlLabel["TEXT"]["DELETE_DIALOG_HEADER"] }}
        </div>
        <hr color="white">
        <div>
            {{ htmlLabel["TEXT"]["DELETE_DIALOG_QUESTION"] }}
        </div>
        <div class="weight-600">
            {{expenseData.name}}
        </div>
        <hr color="white">
        <div class="confirm-button">
            <button (click)="closeDialog()" class="btn btn-danger  mr-2">{{ htmlLabel["BUTTON"]["NO"] }}</button>
            <button (click)="deleteExpense()" class="btn btn-success">{{ htmlLabel["BUTTON"]["YES"] }}</button>
        </div>
    </div>
</div>
<div class="dialog-main" *ngIf="showAddCategory">
    <div class="dialog-box">
        <div class="weight-600 modal-header-dev">
            {{ htmlLabel["TEXT"]["ADD_CATEGORY"] }}
        </div>
        <div>
            <input #categoryInput id="category" class="form-control form-control-lg"
                [placeholder]="htmlLabel['PLACEHOLDER']['ENTER_CATEGORY']" type="text" autocomplete="off">
        </div>
        <div class="d-flex justify-content-center align-items-center mt-2">
            <button (click)="closeModal()" class="btn btn-danger mr-2">{{ htmlLabel["BUTTON"]["CANCEL"] }}</button>
            <button (click)="addCategory()" class="btn btn-primary">{{ htmlLabel["BUTTON"]["ADD_CATEGORY"] }}</button>
        </div>
    </div>
</div>
<div class="dialog-main" *ngIf="showEditExpense">
    <app-add-expense-form [editData]="expenseData" class="edit-form"></app-add-expense-form>
</div>

<div class="dialog-main more-dark" *ngIf="showUploadImage">
    <div class="img-upload-container">
        <div class="close pointer" (click)="closeModal()">X</div>
        <div class="img-view"></div>
        <div class="img-upload">
            <label for="imgUpload">
                <div class="btn btn-primary">Upload Image</div>
                <input (change)="onProfileImageUpload($event)" id="imgUpload" class="img-upload-input" type="file">
            </label>
        </div>
    </div>
</div>