<div class="dialog-main" *ngIf="showDialog">
    <div class="dialog-box">
        <div class="weight-600">
            Are you sure?
        </div>
        <hr color="white">
        <div >
            Do you want to delete : Expense name
        </div>
        <div class="confirm-button">
            <button (click)="closeDialog()" class="btn btn-danger  mr-2">No</button>
            <button (click)="deleteExpense()" class="btn btn-success">Yes</button>
        </div>
    </div>
</div>
<div class="dialog-main" *ngIf="showAddCategory">
   <div class="dialog-box">
    <div class="weight-600 modal-header-dev" >
        Add Category
    </div>
    <div>
        <input id="category" class="form-control form-control-lg" [placeholder]="'categ'" type="text" [ngModel]="categoryName" autocomplete="off">
    </div>
    <div class="d-flex justify-content-center align-items-center mt-2">
        <button (click)="closeModal()" class="btn btn-danger mr-2">Cancel</button>
        <button (click)="addCategory()" class="btn btn-primary">Add Category</button>
    </div>
   </div>
</div>