<div class="add-expense-form-main">
    <div class="header">
        <div class="align-center text-medium weight-600">
            Add Expense
        </div>
    </div>
    <div class="form"  [formGroup]="addExpenseForm">
        <div class="form-container">
            <div>
                <label for="expenseName" class="text-small weight-600">{{ htmlLabel['TEXT']['EXPENSE'] }}</label>
                <input class="form-control form-control-lg" id="expenseName" [placeholder]="htmlLabel['PLACEHOLDER']['ENTER_EXPENSE']" type="text" autocomplete="off" formControlName="name">
                <span *ngIf="addExpenseForm.controls['name'].touched && addExpenseForm.controls['name'].hasError('required')" class="input-error">{{ validationMessages['EXPENSE_REQUIRED'] }}</span>
                <span *ngIf="addExpenseForm.controls['name'].touched && addExpenseForm.controls['name'].hasError('invalidName')" class="input-error">{{ validationMessages['EXPENSE_INVALID'] }}</span>
            </div>
            <div>
                <label for="amount" class="text-small weight-600">{{ htmlLabel['TEXT']['AMOUNT'] }}</label>
                <input class="form-control form-control-lg" id="amount" [placeholder]="htmlLabel['PLACEHOLDER']['ENTER_AMOUNT']" type="text" autocomplete="off" formControlName="amount">
                <span *ngIf="addExpenseForm.controls['amount'].touched && addExpenseForm.controls['amount'].hasError('required')" class="input-error">{{ validationMessages['AMOUNT_REQUIRED'] }}</span>
                <span *ngIf="addExpenseForm.controls['amount'].touched && addExpenseForm.controls['amount'].hasError('invalidAmount')" class="input-error">{{ validationMessages['AMOUNT_INVALID'] }}</span>
            </div>
            <div>
                <label for="mode" class="text-small weight-600">{{ htmlLabel['TEXT']['MODE'] }}</label>
                <div class="custom-select-dev">
                    <input id="mode" (click)="hover1()" (keypress)="hover1()" readonly class="form-control form-control-lg" [placeholder]="htmlLabel['PLACEHOLDER']['SELECT_MODE']" type="text" autocomplete="off" formControlName="mode">
                    <!-- <span class="custom-select-icon" >^</span> -->
                     <div [ngClass]="(showOption1)? 'show' : 'hide'" class="custom-select-dev-option">
                        <div *ngFor="let option of modeOption" (click)="onModeSelect(option.mode)" >{{option.mode}}</div>
                     </div>
                    <span *ngIf="addExpenseForm.controls['mode'].touched && addExpenseForm.controls['mode'].hasError('required')" class="input-error">{{ validationMessages['MODE_REQUIRED'] }}</span>
                </div>
            </div>
            <div>
                <label for="category" class="text-small weight-600">{{ htmlLabel['TEXT']['CATEGORY'] }}</label>
                <div class="custom-select-dev">
                    <input id="category" (click)="hover2()" (keypress)="hover2()" readonly class="form-control form-control-lg" [placeholder]="htmlLabel['PLACEHOLDER']['SELECT_CATEGORY']" type="text" autocomplete="off" formControlName="category">
                     <div [ngClass]="(showOption2)? 'show' : 'hide'" class="custom-select-dev-option">
                        <div *ngFor="let option of categoryOption" (click)="onCategorySelect(option.category)">{{option.category}}</div>
                        <div (click)="openAddCategoryModal()" class="link">Add New +</div>
                     </div>
                     <span *ngIf="addExpenseForm.controls['category'].touched && addExpenseForm.controls['category'].hasError('required')" class="input-error">{{ validationMessages['CATEGORY_REQUIRED'] }}</span>
                </div>
            </div>
            <div>
                <label for="date" class="text-small weight-600">{{ htmlLabel['TEXT']['DATE'] }}</label>
                <input id="date" max="{{ today | date: 'yyyy-MM-dd'}}" class="form-control form-control-lg" id="expenseName" type="date" formControlName="date">
                <span *ngIf="addExpenseForm.controls['date'].touched && addExpenseForm.controls['date'].hasError('required')" class="input-error">{{ validationMessages['DATE_REQUIRED'] }}</span>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <button (click)="addExpense()" class="btn btn-primary mt-4">Add Expense</button>
        </div>
    </div>
</div>